<template>
  <router-view />
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {Dark} from 'quasar';

export default defineComponent({
  name: 'App',
  async mounted() {
    /*
    var darkMode = "auto";
    if (localStorage.hasOwnProperty('darkMode')) {
      darkMode = (localStorage.getItem("darkMode") === 'true');
    }
    Dark.set(darkMode) // or false or "auto"
    */
  },

})
</script>
