<!DOCTYPE html>
<html>

<head>
  <title>
    <%= productName %>
  </title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <!-- OG Meta Tags -->
  <meta property="og:url" content="https://drugcheck.in/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= productName %>">
  <meta property="og:description" content="<%= productDescription %>">
  <!--meta property="og:image" content=""-->


  <link rel="icon" type="image/ico" href="src/assets/science.ico">

</head>

<body>
  <!-- quasar:entry-point -->
</body>

</html>
