<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class="bg-white text-primary">

        <q-toolbar-title>
          <q-icon size="md" name="science" />
          drugcheck.in
          <!--span class="text-weight-light text-caption">by Kron </span-->
        </q-toolbar-title>

        <!--q-btn flat round dense icon="brightness_6" @click="toggleDark()" /-->
        <q-btn flat round dense icon="refresh" @click="reset()" />
        <q-btn flat round dense icon="share" @click="copyUlr()" />
        <!--q-btn flat round dense icon="question_mark" @click="copyUlr()" /-->
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script lang="ts">
import {defineComponent, ref} from 'vue';
import {Notify} from 'quasar';
import {userTestsStore} from '../stores/user-data';
import {Dark} from 'quasar'


const userTests = userTestsStore();

export default defineComponent({
  name: 'MainLayout',
  methods: {
    copyUlr() {
      var urlParams = "?";
      if (userTests.targetSubstance != null) {
        var param = `t=${userTests.targetSubstance.id}&`;
        urlParams = urlParams.concat(param);
      }
      userTests.testsArray.forEach(test => {
        var param = `r${test.reagentId}=${test.colorId}&`;
        urlParams = urlParams.concat(param);
      })
      urlParams = urlParams.substring(0, urlParams.length - 1);
      var url = window.location.href.concat(urlParams);

      navigator.clipboard.writeText(url);
      Notify.create({message: 'Copied to clipboard', timeout: 1000, icon: 'content_copy', progress: true, color: 'primary'});
    },
    reset() {
      userTests.reset();
    },
    toggleDark() {
      Dark.toggle();
      localStorage.setItem("darkMode", Dark.isActive);
    }
  }
})
</script>
