<template>
  <div class="q-pa-md">
    <h1>About</h1>
    <p>a</p>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'About'
})
</script>
