<template>
  <q-page>
    <DrugInfoDialog />
    <Tests />
    <Results />
  </q-page>
</template>

<script lang="ts">
import Tests from 'src/components/Tests.vue';
import Results from 'src/components/Results.vue';
import {defineComponent, ref} from 'vue';
import {useRoute} from 'vue-router';
import {userTestsStore} from '../stores/user-data';
import {drugCheckingDataStore} from '../stores/drug-checking-data';
import DrugInfoDialog from 'src/components/DrugInfoDialog.vue';

export default defineComponent({
  name: 'IndexPage',
  components: {Tests, Results, DrugInfoDialog},
  created() {
    const route = useRoute();
    const userTests = userTestsStore();
    userTests.reset();
    const drugCheckingData = drugCheckingDataStore();
    Object.entries(route.query).forEach(q => {
      if (q[0] == 't') {
        var substance = drugCheckingData.substances.find(s => s.id == q[1]);
        console.log(substance);
        userTests.setTargetSubstance(substance);
      } else {
        var reagentId = q[0].replace('r', '');
        var reagent = drugCheckingData.reagentsList.find(r => r.id == reagentId);

        var color = null;

        if (q[1] != "null") {
          var colorId = parseInt(q[1]);
          color = drugCheckingData.simpleColors.find(c => c.id == colorId);
        }
        userTests.setReaction(reagent, color);
      }
    })
    this.$router.replace('/');
  },

})
</script>
