<template>
  <q-dialog v-model="userTests.showInfoDialog">
    <DrugInfoVue />
  </q-dialog>
</template>

<script lang="ts">
import {drugCheckingDataStore} from '../stores/drug-checking-data';
import DrugInfoVue from './DrugInfo.vue';
import {userTestsStore} from '../stores/user-data';
import axios from 'axios';

export default {
  name: 'DrugInfoDialogComponent',
  components: {DrugInfoVue},
  data() {
    return {
      userTests: userTestsStore(),
    }
  },
}
</script>
