<template>
  <q-card class="my-card" style="width: 100%;">
    <q-card-section>
      <div v-if="info != undefined" class="text-weight-thin text-caption">Information from <a
          href="https://tripsit.me/">Tripsit</a>
      </div>

      <div class="text-h4">
        {{ userTests.showInfoSubstance.commonName }}
      </div>

      <div v-if="info?.aliases != undefined">
        <p class="text-weight-light text-caption" style="text-transform:capitalize;">
          {{ info.aliases.join(', ') }}.
        </p>
      </div>

      <div v-if="info?.categories != undefined">
        <div>
          <q-chip dense v-for="category in info.categories" style="text-transform:capitalize;">
            {{ category.replaceAll('-', ' ') }}
          </q-chip>
        </div>
      </div>

    </q-card-section>

    <q-card-section v-if="showLoading">
      <div class="q-pa-md flex flex-center">
        <q-circular-progress color="primary" indeterminate rounded size="50px" class="q-ma-md" />
      </div>
    </q-card-section>

    <q-card-section v-if="showLoading == false">
      <q-list bordered>

        <q-expansion-item group="somegroup" icon="summarize" label="Summary" :default-opened="info != null"
          header-class=" text-primary" v-if="info?.properties != undefined">
          <q-card>
            <q-card-section>
              {{ info.properties.summary }}
            </q-card-section>
          </q-card>
        </q-expansion-item>
        <q-separator />

        <q-expansion-item group="somegroup" icon="scale" label="Dosage" header-class="text-teal"
          v-if="info?.formatted_dose != undefined">
          <q-card>
            <q-card-section>
              {{ info?.dose_note }}

              <div v-for="assumptionWay in Object.keys(info.formatted_dose)">
                <br>
                <b>{{ assumptionWay.replaceAll('-', ' ') }}</b>
                <q-list dense>
                  <q-item dense v-for="quantity in Object.keys(info.formatted_dose[assumptionWay])">
                    <q-item-section>
                      <q-item-label>{{ quantity }} </q-item-label>
                    </q-item-section>
                    <q-item-section>
                      <p>{{ info.formatted_dose[assumptionWay][quantity] }}</p>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>

        <q-separator />
        <q-expansion-item group="somegroup" icon="timelapse" label="Duration" header-class="text-purple"
          v-if="info?.formatted_duration != undefined"> <q-card>
            <q-card-section>
              <q-list dense>
                <Duration v-if="info?.formatted_duration != null" label="Duration"
                  :formattedDuration="info.formatted_duration" />
                <Duration v-if="info?.formatted_onset != null" label="Onset"
                  :formattedDuration="info.formatted_onset" />
                <Duration v-if="info?.formatted_aftereffects != null" label="After Effects"
                  :formattedDuration="info.formatted_aftereffects" />

              </q-list>
            </q-card-section>
          </q-card>
        </q-expansion-item>

        <q-separator />
        <q-expansion-item group="somegroup" icon="science" label="Know Reactions" header-class="text-orange"
          :default-opened="info == null">
          <q-card>
            <q-card-section>
              <p class="text-weight-thin text-caption">Compiled by <a href="https://www.protestkit.eu" target="_blank"
                  rel="noopener noreferrer">PRO Test</a></p>
              <q-list dense>
                <q-item v-for="reaction in knowReactions">
                  <q-item-section>
                    <q-item-label>{{
                      getReagentFromId(reaction.reagentId).fullName }}</q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <ResultGradient :result="getSubstanceFromId(reaction.substanceId)" :reagentId="reaction.reagentId" />
                  </q-item-section>
                </q-item>
                <br>
              </q-list>
            </q-card-section>
          </q-card>
        </q-expansion-item>


      </q-list>
    </q-card-section>

  </q-card>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {drugCheckingDataStore} from '../stores/drug-checking-data';
import ResultGradient from './ResultGradient.vue';
import Duration from './Duration.vue';

import {userTestsStore} from '../stores/user-data';
import axios from 'axios';

export default {
  name: 'DrugInfoComponent',
  components: {ResultGradient, Duration},
  data() {
    return {
      drugCheckingData: drugCheckingDataStore(),
      userTests: userTestsStore(),
      info: undefined,
      showLoading: false,
      error: false
    }
  },
  async mounted() {
    this.getSubstanceInfo();
    this.userTests.$subscribe(this.getSubstanceInfo, {detached: false})
  },
  computed: {
    knowReactions() {
      var reactions = this.drugCheckingData.reactions.filter(reaction => reaction.substanceId == this.userTests.showInfoSubstance.id);
      return reactions;
    }
  },
  methods: {
    async getSubstanceInfo() {
      this.info = undefined;
      try {
        this.showLoading = true;
        this.error = false;
        var target = this.userTests.showInfoSubstance;
        if (target != undefined && target.id != undefined) {
          //var response = await axios.get(`http://127.0.0.1:8000/substances/${target.id}/info`);
          var response = await axios.get(`https://api.testdrugs.info/api/tripsit/getDrug?name=${target.commonName}`);
          this.info = JSON.parse(JSON.stringify(response.data));
          if (this.info['err']) {
            this.error = true;
            this.info = undefined;
          } else {
            this.info = this.info['data'][0]
            this.error = false;
          }
          this.showLoading = false;
        }
      } catch (error) {
        this.info = undefined;
        this.error = true;
        this.showLoading = false;
      }
    },
    getReagentFromId(reagentId) {
      const reagent = this.drugCheckingData.reagents[reagentId];
      return reagent;
    },
    getSubstanceFromId(substanceId) {
      return this.drugCheckingData.substances.find(s => s.id == substanceId);
    },
  },

}
</script>
