<template>
    <!--div>
        <br>
        <q-item-section>
            <q-item-label>{{ label }}</q-item-label>
        </q-item-section>

        <q-item dense v-for="assumptionWay in Object.keys(formattedDuration).filter(k => k != '_unit')">
            <q-item-section>
                <q-item-label v-if="assumptionWay != 'value'">{{ assumptionWay }} </q-item-label>
                <q-item-label v-else>{{ formattedDuration[assumptionWay] }} {{ formattedDuration['_unit'] }}
                </q-item-label>
            </q-item-section>
            <q-item-section v-if="assumptionWay != 'value'">
                {{ formattedDuration[assumptionWay] }} {{ formattedDuration['_unit'] }}
            </q-item-section>
        </q-item>
    </div-->

    <!--hr-->
    <q-item>
        <q-item-section>
            <q-item-label>{{ label }}</q-item-label>
        </q-item-section>
        <q-item-section>
                <span v-if="formattedDuration['value'] != null">{{
                    formattedDuration['value'] }} {{ formattedDuration['_unit']
    }}</span>
                <span v-else v-for="assumptionWay in Object.keys(formattedDuration).filter(k => k != '_unit')">
                    {{ assumptionWay }}: {{ formattedDuration[assumptionWay] }} {{
                        formattedDuration['_unit'] }}
                    <br>
                </span>

        </q-item-section>
    </q-item>
</template>
<script lang="ts">
export default {
    props: ['label', 'formattedDuration'],
}
</script>
