<template>
  <div class="q-pa-md" v-if="tableRows?.length > 0">
    <q-table title="Results" :rows="tableRows" row-key="substance" dense grid :rows-per-page-options="[0]"
      :key="this.userTests.targetSubstance">
      <template v-slot:item="props">
        <div class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition">
          <q-card bordered flat dense>
            <q-card-section>
              <div class="row items-center no-wrap">
                <div class="col">
                  <div class="text-h6">{{ props.row.substance.commonName }}</div>
                </div>

                <div class="col-auto">
                  <q-btn color="grey-7" round flat icon="info" @click="userTests.openInfoDialog(props.row.substance);">
                  </q-btn>
                </div>
              </div>
            </q-card-section>
            <q-list dense>
              <q-item v-for="col in props.cols.filter(col => col.name !== 'substance')  " :key="col.substance">
                <q-item-section>
                  <q-item-label>{{ col.label }}</q-item-label>
                </q-item-section>
                <q-item-section>
                  <ResultGradient :result="props.row.substance" :reagentId="col.value.reagentId" />
                </q-item-section>
              </q-item>
              <br>
            </q-list>
          </q-card>
        </div>
      </template>
    </q-table>
    <p class="text-weight-thin text-caption">Reactions data compiled by <a href="https://www.protestkit.eu"
        target="_blank" rel="noopener noreferrer">PRO Test</a></p>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {drugCheckingDataStore} from '../stores/drug-checking-data';
import ResultGradient from './ResultGradient.vue';
import {userTestsStore} from '../stores/user-data';
import DrugInfoDialog from './DrugInfoDialog.vue';

export default defineComponent({
  name: 'ResultsComponent',
  components: {ResultGradient, DrugInfoDialog},
  data() {
    return {
      drugCheckingData: drugCheckingDataStore(),
      userTests: userTestsStore(),
    }
  },
  computed: {
    tableRows() {
      var rows = [];
      if (this.userTests.computedResults != undefined) {
        this.userTests.computedResults.forEach(res => {
          var row = {'substance': res};
          this.userTests.testsArray.forEach(test => row[this.getReagentName(test.reagentId)] = test)
          rows.push(row);
        })

        if (this.userTests.targetSubstance !== undefined && this.userTests.testsArray.length > 0) {
          rows = rows.filter(r => r.substance !== this.userTests.targetSubstance);
          var row = {'substance': this.userTests.targetSubstance};
          this.userTests.testsArray.forEach(test => row[this.getReagentName(test.reagentId)] = test);
          rows.unshift(row);
        }

        return rows;
      }
    },
  },
  methods: {
    getReagentName(reagentId) {
      const reagent = this.drugCheckingData.reagents[reagentId];
      return reagent.fullName;
    },
    getSubstanceFromName(substanceName) {
      return this.drugCheckingData.substances.find(s => s.commonName == substanceName);
    }
  },
})
</script>
