<template>
  <div
    style="color: white; height: 2em; max-width: 100%; border-radius: 3px; text-align: center; text-shadow: 1px 1px 3px black; font-size: 90%;"
    :style="cssGradient">
    <p v-if="reaction == undefined" class="text-negative" style="text-shadow: 1px 1px 3px white"> unknowk reaction</p>
    <p v-else-if="!reaction?.isReacting"> {{ reaction?.hint }}</p>
    <p v-else>{{ reaction?.hint }}</p>
  </div>
</template>
<script lang="ts">
import {drugCheckingDataStore} from '../stores/drug-checking-data';

export default {
  props: ['result', 'reagentId'],
  data() {
    return {
      drugCheckingData: drugCheckingDataStore(),
    }
  },
  computed: {
    reaction() {return this.drugCheckingData.reactions.find(r => r['substanceId'] == this.result.id && r['reagentId'] == this.reagentId)},
    reactionGradientColors() {
      var gradientColors = [];
      for (var i in this.reaction?.gradient) {
        var coloId = this.reaction?.gradient[i];
        var color = this.drugCheckingData.colorsList.find(c => c['id'] == coloId);
        gradientColors.push(color);
      }
      if (gradientColors.includes(undefined))
        console.log(this.reaction?.substanceId, gradientColors);
      return gradientColors;
    },
    cssGradient() {
      if (this.reagentId == undefined)
        return {background: "#dfdfdf"};
      else if (this.reaction == undefined)
        return {background: "#fff"};
      try {
        var isReacting = this.reaction.isReacting;
        if (isReacting !== true) return {background: "#dfdfdf"};
        var hexes = this.reactionGradientColors.map(gradientColor => {
          return gradientColor.hex;
        })
        if (hexes.length === 0) return {};

        if (hexes.length === 1) return {background: hexes[0]};
        const css = (
          hexes.map((hex, i) => `${hex} ${(100 * i) / hexes.length}%`).join(", ")
        );
        return {background: `linear-gradient(to right, ${css})`};
      } catch (error) {
        console.log(error);
        return {background: "#dfdfdf"}
      }
    },
  },
}
</script>
