<template>
  <q-select v-model="targetSubstance" use-input input-debounce="0" label="Target substance" :options="options"
    option-label="name" @filter="filterFn">
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey"> No results </q-item-section>
      </q-item>
    </template>
    <template v-if="targetSubstance" v-slot:append>
      <q-icon name="cancel" @click.stop.prevent="targetSubstance = undefined" class="cursor-pointer" />
    </template>

    <template v-slot:after>
      <q-btn color="grey-7" round flat v-if="this.userTests.targetSubstance != undefined" icon="info"
        @click="userTests.openInfoDialog(targetSubstance)">
      </q-btn>
      <!--q-btn color="grey-7" round flat v-if="this.userTests.targetSubstance != undefined" icon="delete"
        @click="targetSubstance = undefined">
      </q-btn-->
    </template>
  </q-select>
</template>

<script>
import {defineComponent, ref} from "vue";
import {drugCheckingDataStore} from "src/stores/drug-checking-data";
import {userTestsStore} from "../stores/user-data";
import DrugInfo from "./DrugInfo.vue";
const stringOptions = drugCheckingDataStore().substances;
const options = ref(stringOptions);

export default defineComponent({
  name: "TargetSubstanceSelect",
  components: {DrugInfo},
  data() {
    return {
      userTests: userTestsStore(),
      options,
      targetSubstance: undefined,
    };
  },
  async mounted() {
    this.targetSubstance = this.userTests.targetSubstance;
    this.userTests.$subscribe(
      () => (this.targetSubstance = this.userTests.targetSubstance),
      {detached: true}
    );
  },
  watch: {
    targetSubstance(newTargetSubstance, oldTargetSubstance) {
      console.log(newTargetSubstance);
      this.userTests.setTargetSubstance(newTargetSubstance);
    },
  },
  methods: {
    filterFn(val, update, abort) {
      var processString = ((s) => s.trim().toLowerCase());
      var stringSimilarity = function (a, b) {
        a = processString(a);
        b = processString(b);
        var equivalency = 0;
        var minLength = (a.length > b.length) ? b.length : a.length;
        var maxLength = (a.length < b.length) ? b.length : a.length;
        for (var i = 0;i < minLength;i++)
          if (a[i] == b[i]) equivalency++;
        return equivalency / maxLength;
      }
      update(() => {
        const needle = processString(val);
        options.value = stringOptions.filter((v) => {
          if (v != null)
            return processString(v.name).indexOf(needle) > -1;
          else
            return false;
        });
        options.value.sort((a, b) => stringSimilarity(needle, b.name) - stringSimilarity(needle, a.name));
      });
    },
  },
});
</script>
