<template>
  <div class="q-pa-md">

    <TargetSubstanceSelect />
    <!--div class="q-pt-md">
      <q-chip v-for="reagent in userTests.suggestedReagents" dense clickable size="lg"
        @click="userTests.setReaction(reagent, undefined); showDialaog = true; targetReagent = reagent;">
        {{ reagent?.fullName }}
      </q-chip>
    </div-->

    <div class="q-pt-lg">
      <q-chip v-for="reagent in userTests.usedReagents" removable @remove="userTests.removeReaction(reagent)" clickable
        @click="showDialaog = true; targetReagent = reagent;" size="lg"
        :color="`reaction-${userTests.tests[reagent.id] ? userTests.tests[reagent.id]['name'] : 'white'}`"
        :text-color="`reaction-${userTests.tests[reagent.id] ? userTests.tests[reagent.id]['name'] : 'white'}`">
        {{ reagent.fullName }}
      </q-chip>
      <q-chip clickable size="lg" icon="add" v-if="userTests.suggestedReagents.length > 0"
        @click="showDialaog = true; targetReagent = userTests.suggestedReagents[0]">Add reaction</q-chip>
    </div>
    <!--q-page-sticky position="bottom-right">
      <q-btn fab icon="add" > Test </q-btn>
    </q-page-sticky-->

    <q-dialog v-model="showDialaog">

      <q-card class="my-card" style="width: 100%;">

        <q-card-section>
          <div v-if="userTests.tests[targetReagent.id] === undefined">
            <div class="text-h5">Add reaction</div>
            <q-select v-model="targetReagent" :options="userTests.suggestedReagents" label="Reagent"
              option-label="fullName" bottom-slots>

              <template v-slot:hint>
                <div v-if="userTests.targetSubstance != null">
                  <div v-if="userTests.suggestedReagents.length > 0">
                    <div v-if="userTests.testsArray.length == 0">
                      {{ userTests.suggestedReagents[0].fullName }} is a good start for finding
                      {{ userTests.targetSubstance.name }}
                    </div>
                    <div v-else>
                      At this point you could try {{ userTests.suggestedReagents[0].fullName }}
                    </div>
                  </div>
                  <div v-else>
                    Seems that there are no more reagents that react with {{ userTests.targetSubstance.name }}
                  </div>
                </div>
                <div v-else>
                  If you select the substance you are looking for I can help you choose the reagents.
                </div>
              </template>
            </q-select>
          </div>

          <div v-else class="row items-center no-wrap">
            <div class="col">
              <div class="text-h6">{{ targetReagent.fullName }}</div>
            </div>
            <div class="col-auto">
              <q-btn color="grey-7" round flat icon="delete"
                @click="userTests.removeReaction(targetReagent); showDialaog = false"></q-btn>
            </div>
          </div>

        </q-card-section>

        <q-card-section>
          <p>What is the main color you got from the reaction?</p>
          <q-list style="width: 100%" v-if="targetReagent != undefined">
            <q-item clickable v-close-popup style="background-color: #dfdfdf"
              @click="userTests.setReaction(targetReagent, null)">
              <q-item-section>
                <q-item-label style="
                text-align: left;
                text-shadow: 1px 1px 3px black;
                text-transform: capitalize;
                color: white;
              ">
                  No color change</q-item-label>
              </q-item-section>
            </q-item>
            <div v-for="color in targetReagentColors">
              <q-item clickable v-close-popup :style="`background-color: ${color.hex}`"
                @click="userTests.setReaction(targetReagent, color)">
                <q-item-section>
                  <q-item-label style="
                  text-align: left;
                  text-shadow: 1px 1px 3px black;
                  text-transform: capitalize;
                  color: white;
                ">
                    {{ color.name.replace("2", "") }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </q-list>
        </q-card-section>

      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import {drugCheckingDataStore} from "../stores/drug-checking-data";

import {userTestsStore} from "../stores/user-data";

import {colors} from "quasar";
import TargetSubstanceSelect from "./TargetSubstanceSelect.vue";

export default defineComponent({
  name: "ExampleComponent",
  components: {TargetSubstanceSelect},
  data() {
    return {
      drugCheckingData: drugCheckingDataStore(),
      userTests: userTestsStore(),
      showDialaog: false,
      targetReagent: undefined,
    };
  },
  computed: {
    targetReagentColors() {
      return this.drugCheckingData.simpleColors.filter((c) =>
        this.targetReagent.colors.includes(c.id)
      );
    },
  },
});
</script>
<style>
.text-reaction-black2 {
  color: #fff !important;
}

.bg-reaction-black2 {
  background: #333333 !important;
}

.text-reaction-blue2 {
  color: #fff !important;
}

.bg-reaction-blue2 {
  background: #2b37f6 !important;
}

.text-reaction-green2 {
  color: #000 !important;
}

.bg-reaction-green2 {
  background: #67f02c !important;
}

.text-reaction-yellow2 {
  color: #000 !important;
}

.bg-reaction-yellow2 {
  background: #ffff33 !important;
}

.text-reaction-orange2 {
  color: #fff !important;
}

.bg-reaction-orange2 {
  background: #fd7322 !important;
}

.text-reaction-brown2 {
  color: #fff !important;
}

.bg-reaction-brown2 {
  background: #510b0c !important;
}

.text-reaction-red2 {
  color: #fff !important;
}

.bg-reaction-red2 {
  background: #ff0000 !important;
}

.text-reaction-pink2 {
  color: #fff !important;
}

.bg-reaction-pink2 {
  background: #ff6fcf !important;
}

.text-reaction-purple2 {
  color: #fff !important;
}

.bg-reaction-purple2 {
  background: #50268d !important;
}

.text-reaction-nochange {
  color: #000 !important;
}

.bg-reaction-nochange {
  background: #dfdfdf !important;
}
</style>
